SECRET_KEY=change-me
REVLED_ADMIN_EMAIL=admin@revled.org
REVLED_ADMIN_PASSWORD=change-me
REVLED_EMAIL_USERNAME=info@revledfoundation.org
REVLED_EMAIL_PASSWORD=change-me
REVLED_EMAIL_INCOMING_SERVER=revledfoundation.org
REVLED_EMAIL_SMTP_SERVER=revledfoundation.org
REVLED_EMAIL_SMTP_PORT=465
REVLED_EMAIL_USE_SSL=1
REVLED_SITE_URL=https://revledfoundation.org
PAYSTACK_SECRET_KEY=""
PAYSTACK_PUBLIC_KEY=""

